body {
  background-color: rgb(198, 215, 231);
  color: rgb(10, 10, 9);
  font-size: 25px;
  font-family: 'Cascadia Code', 'Consolas', 'Monaco', 'Courier New', 'Courier',
    monospace;
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(122, 125, 222);
}

a:active {
  color: rgb(255, 0, 0);
}

a:visited {
  color: rgb(0, 0, 255);
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn {
  background-color: rgb(13, 131, 221);
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
