<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Adout</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>About</h1>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <ul>
      <li><a href="/about/1">About 1</a></li>
      <li><a href="/about/2">About 2</a></li>
      <li><a href="/about/3">About 3</a></li>
    </ul>

    <form action="/about" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="submit" value="Send" />
    </form>

    <script>
      const btn = document.querySelector('.btn');
      btn.addEventListener('click', event => {
        console.log(event.target);
      });
    </script>

    <script>
      const name = document.querySelector('[name="name"]');
      const email = document.querySelector('[name="email"]');
      const form = document.querySelector('form');
      form.addEventListener('submit', event => {
        event.preventDefault();
        console.log(name.value, email.value);
      });
    </script>
  </body>
</html>
