<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Shop</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Contacts</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <ul>
      <li><a href="/contact/1">Contact 1</a></li>
      <li><a href="/contact/2">Contact 2</a></li>
      <li><a href="/contact/3">Contact 3</a></li>
    </ul>

    <form action="/contact" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
